@import "scss_import";

* { box-sizing: border-box; }

html {
  font-size: 100%;

  @include breakpoint(100rem) {
    font-size: 125%;
  }
}

// Comment
body {
  line-height: 1.5;
  background: $color-background-primary;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: rgb(0, 0, 0, 0.75);
  word-wrap: break-word;
  font-weight: bold;

  &:first-child { margin-top: 0; }
}

.class { font-size: 3rem; }

#id {
  & > .class {}
}

div[attr]

a {
  text-decoration: none;
  color: $smop-color-font-link;
  transition: all $smop-transition-item-base;

  &:hover,
  &:active {
    color: $smop-color-font-active;
  }
}

b, strong {
  color: $smop-color-font-base;
}

section {
  @include clearfix();
}

p > code {
  font-size: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}